@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');





.titleNumbers {

    
    /* border: .1px solid white; */

    color: rgb(173, 173, 176);
    font-family: 'Monoton', cursive;
    font-size: 30px;

    /* display: flex; */
    justify-content: center;
    align-items: center;
}