@tailwind base;
@tailwind components;
@tailwind utilities;

/* exo regular */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.titlePage {
    
    border-bottom: 10px solid white;
    width:100%; 
    
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}
.roadmapClass {
    background-color: #FFFFFF;

    border-bottom: 3px solid #ffffff;
}

.fontColorBlack {
    color: black;

}
.backgroundBlack {
    background-color: black;
}
.aboutClass {
    background-color: black;
    border-bottom: 3px solid #ffffff;
}

.backgroundDarkGradient {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq_style {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    background-color: #000000;
}

header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    background: #000000;
    border-bottom: 3px solid #ffffff; 
}

header h1 {
    color: #EEE;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
}

.faqs {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 15px;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helveltica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EEE;
}

.fontColorWhite {
    color: white;
}

.faqs .faq {
    margin: 15px;
    padding: 15px;
    background-color: #EEE;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.faqs .faq .faq-question {
    position: relative;
    font-size: 20px;
    padding-right: 80px;

    transition: all 0.4s ease;

    font-family: 'Exo', sans-serif;
    font-weight: bold;
}

.faqs .faq .faq-question::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;


    background-image: url('./assets/down-arrow-svgrepo-com (1).svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-reapeat;

    transition: all 0.4s ease;
}

.faqs .faq .faq-answer {
    opacity: 0;
    max-height: 0;
    overflow-y: hidden;
    transition: all 0.4s ease-out;
    font-family: 'Exo', sans-serif;
}

.faqs .faq.open .faq-question {
    margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
    transform: translateY(-50%) rotate(180deg);
}

.faqs .faq.open .faq-answer {
    max-height: 1000px;
    opacity: 1;
}


.css-selector {
    background: linear-gradient(226deg, #0c0d0d, #4169e8, #e158f0, #0b0b0b);
    background-size: 800% 800%;

    animation: AnimationName 36s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* .css-selector {
    background: linear-gradient(182deg, #050505, #2794ee, #6f27d3, #0d0c0d);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 50s ease infinite;
    -moz-animation: AnimationName 50s ease infinite;
    -o-animation: AnimationName 50s ease infinite;
    animation: AnimationName 50s ease infinite;
    height: 5000px;
}
@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
} */
.roboto {
    color: white;
    font-family: 'Roboto', sans-serif;
}
