

    



/*==============================================================*/

.title-image {
  width: 150px;
  height: 150px;
}

.treasury-image {
  width: 200px;
  height: 125px;

  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 1500px) {
  .title-image {
    display: none;
  }

}

@media screen and (max-width: 1400px) {
  .treasury-image {
    display: none;
  }
}


/*==============================================================*/

.card-container {
  width: 350px;
  height: 500px;
  perspective: 1000px; 
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;  
}

.card-container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 5px 10px rgba(50, 50, 50, 0.25);
  position: absolute; 
  backface-visibility: hidden;
}

.front {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75em;

  
  background-image: url('../../assets/Lightning_Bursts_1_2286_2K_AdobeExpress_AdobeExpress_AdobeExpress.gif');

  font-size: 50px;
  font-weight: bold;
  font-family: 'Baloo 2';
  letter-spacing: 4px;
  text-align: center;
 
  color: #fff;
  
}

.back {
  
  background: linear-gradient(-45deg, #0f0e0e, #090809, #2d2d2d, #0b0b0b);
  background-size: 400% 400%;

  animation: gradient 15s ease infinite;
 

  transform: rotateY(180deg); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 1.75em;


  font-size: 35px;
  font-weight: bold;
  font-family: 'Baloo 2';
  text-align: center;
  color: #fff
}

.card-image {
  width: 200px;
  height: 200px;

  opacity: 0.5; 
}

@media screen and (max-width: 40em) {
  .card-container {
    width: 250px;
    height: 350px;
  }

  .front {
    font-size: 35px; 
  }

  .back {
    font-size: 25px;
  }

  .card-image {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 280px) {
  .card-container {
    width: 200px;
    height: 300px;
  }

  .front {
    font-size: 25px; 
  }

  .back {
    font-size: 15px;
  }

  .card-image {
    width: 75px;
    height: 75px;
  }
}




/*==============================================================*/

.dao-line{
  display: flex;
  justify-content: center;
  margin-top: 75px;

  width: 100%;
  height: 5px;
  border-radius: 2rem;

  background-color: #2d2d2d;
  opacity: .5;
}


@media screen and (max-width: 40em) {
  .dao-line {
    width: 100%;
    font-size: 20px;
    margin-top: 50px;
  }

}
  
/*==============================================================*/



.daoBtn {
  width: 400px;
  height: 100px;
  border-radius: 2rem;
  transition: ease-out 0.5s;
  outline: none;
  border: none;
  cursor: pointer;


  font-weight: bold;
  font-size: 25px;
  font-family: 'Baloo 2';
  letter-spacing: 2px;
  text-align: center;

  background: linear-gradient(-45deg, #37829f, #ae71ae, #2f57cf, #cf63c4);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;

  color: #fff;

}

.daoBtn:hover {
  background-color: #2d2d2d;
  box-shadow: inset 400px 0 0 0 #2d2d2d;
}

@media screen and (max-width: 1280px) {
  .daoBtn {
    width: 600px;
    font-size: 25px;
  }

  .daoBtn:hover {
    box-shadow: inset 600px 0 0 0 #2d2d2d;
  }
}

@media screen and (max-width: 850px) {
  .daoBtn {
    width: 500px;
    font-size: 25px;
  }

  .daoBtn:hover {
    box-shadow: inset 600px 0 0 0 #2d2d2d;
  }
}

@media screen and (max-width: 550px) {
  .daoBtn {
    width: 325px;
    font-size: 20px;
  }

  .daoBtn:hover {
    box-shadow: none;
  }

}

@media screen and (max-width: 300px) {
  .daoBtn {
    width: 200px;
    font-size: 15px;
  }

  .daoBtn:hover {
    box-shadow: none;
  }

}



/*==============================================================*/

.nft-container {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;


  justify-content: space-evenly;
  align-items: center;


  max-width: 1500px;
  margin: 1rem auto;
  margin-top: 75px;

}


